spring.application.name: ai-blog-draft-api

logging:
  level:
    root: info
    com.kotlin.aiblogdraft: debug

spring:
  datasource:
    url: jdbc:mysql://localhost:13306/local-test
    username: root
    password: test
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  cloud:
    aws:
      credentials:
        access-key: test
        secret-key: test
      s3:
        region: us-east-1
        bucket: ai-blog-draft
      endpoint: http://127.0.0.1:4566
